{% load static %}
    <div class="page-container">
        <p class="tag">LikeLion_14th_session</p>
        <h1 class="title">멋쟁이사자처럼 14기 2주차 과제</h1>
        <h6 class="welcome">성인(聖人) 장진호에 대해서...</h6>

        <div class="section">
            <div class="section-title">안녕하세요. 동대 멋사 14기 백엔드 아기사자 장진호입니다.</div>
            <ul>
                <li>이름 : 장진호</li>
                <li>나이 : 24세</li>
                <li>전공 : 정보통신공학과</li>
                <li>좋아하는 것 : 맛있는 음식 먹기, 좋아하는 음악 듣기</li>
                <li>주량 : 소주 1잔</li>
                <li>MBTI : ESTP</li>
                
            </ul>
        </div>
    </div>



